<ion-header>
	<ion-toolbar>
		<ion-buttons start>
			<button (click)="view.dismiss({goal: undefined})" ion-button icon-only>
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>{{"newGoalModal.title" | translate}}</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content padding-top>
	<ion-list>
		<ion-item>
			<ion-label fixed>{{"newGoalModal.latLngPrompt" | translate}}</ion-label>
			<ion-input [(ngModel)]="latLngField" (input)="checkCoordInput()" placeholder="{{'newGoalModal.coordPlaceholder' | translate}}" type="text"></ion-input>
			<ion-badge *ngIf="!validCoords" color="danger" item-end>{{"newGoalModal.invalid" | translate}}</ion-badge>
		</ion-item>
		<ion-item>
			<ion-label fixed>{{"newGoalModal.passwdPrompt" | translate}}</ion-label>
			<ion-input [(ngModel)]="passwdField" (input)="checkPasswdInput()" placeholder="{{'newGoalModal.passwdPlaceholder' | translate}}" type="text"></ion-input>
			<ion-badge *ngIf="!validPasswd" color="danger" item-end>{{"newGoalModal.invalid" | translate}}</ion-badge>
		</ion-item>
		<ion-item-divider color="light">{{"newGoalModal.info" | translate}}</ion-item-divider>
		<ion-item text-center>
			<h2>{{"newGoalModal.lat" | translate}}</h2>
			<p>{{goal.lat}}</p>
		</ion-item>
		<ion-item text-center>
			<h2>{{"newGoalModal.lng" | translate}}</h2>
			<p>{{goal.lng}}</p>
		</ion-item>
		<ion-item text-center>
			<h2>{{"newGoalModal.passwd" | translate}}</h2>
			<p>{{goal.passwd.join(", ")}}</p>
		</ion-item>
		<button (click)="saveGoal()" [disabled]="!validGoal" color="secondary" ion-item text-center>
			{{"newGoalModal.save" | translate}}
		</button>
	</ion-list>
</ion-content>
