<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			{{"home.title" | translate}}
		</ion-title>
		<ion-buttons end>
			<button (click)="deletePuzzles()" ion-button icon-only>
				<ion-icon name="{{deleteMode ? 'checkmark' : 'trash'}}"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding-top>
	<ion-list>
		<button *ngFor="let puzzle of puzzles" (click)="selectPuzzle(puzzle)" [color]="puzzle.selected ? 'primary' : ''" ion-item>
			{{puzzle.name}}
			<ion-icon *ngIf="deleteMode" name="{{puzzle.selected ? 'radio-button-on' : 'radio-button-off'}}" item-end></ion-icon>
		</button>
		<button [disabled]="deleteMode" (click)="createPuzzle()" ion-item text-center>
			<ion-icon name="add" padding-right></ion-icon>
			{{"home.new" | translate}}
		</button>
	</ion-list>
</ion-content>
